@charset "utf-8";
/* CSS Document */

*{ padding:0; margin:0;}
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,a,i,b,em,strong,span,img{ margin:0; padding:0; }
a{ text-decoration:none; }
li{ list-style:none; }
em,i{ font-style:normal; }
b,strong{ font-weight:normal; }
.fl{ float:left; _display:inline;}
.fr{ float:right;  }
.clearFix:after{ content:''; display:block; clear:both; }
.clearFix{ zoom:1; }  
img,input,textarea{vertical-align:top;}
a img{display:block; border:none;}
body{ font-size:12px; font-family:'微软雅黑'; }	